.campaign-preview {
  &__candidates-list {
    &__title {
      padding-left: 1em;
      font-size: 1.5em;
    }

    &__item {
      display: flex;

      &__icon,
      &__vote-button {
        flex: 1;
      }

      &__candidate-name {
        flex: 3;
      }
    }

    &__empty-item {
      &__icon {
        padding-right: 1em;
      }
    }
  }

  &__footer {
    padding: 2em;
  }
}
