<div *ngIf="campaignModel" class="campaign-preview">
  <app-page-title-bar [title]="campaignModel.name"
                      actionButtonText="Add Candidate"
                      (actionButtonClickedEvent)="onAddCandidateClicked()">
  </app-page-title-bar>

  <div class="campaign-preview-alert">
    <div *ngIf="campaignModel.candidates.length && !campaignModel.userCanVote">
      <div>Thank you for your vote</div>
      <div>You successfully vote in this campaign.</div>
    </div>
  </div>

  <mat-list class="campaign-preview__candidates-list">
    <h2 class="campaign-preview__candidates-list__title">Candidates:</h2>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let candidate of campaignModel.candidates">
      <mat-list-item class="campaign-preview__candidates-list__item">
        <mat-icon class="campaign-preview__candidates-list__item__icon">face</mat-icon>
        <div class="campaign-preview__candidates-list__item__candidate-name">Candidate 1</div>
        <button mat-flat-button class="campaign-preview__candidates-list__item__vote-button">Vote</button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>

    <ng-container *ngIf="!campaignModel.candidates.length">
      <mat-list-item class="campaign-preview__candidates-list__empty-item">
        <mat-icon class="campaign-preview__candidates-list__empty-item__icon">info</mat-icon>
        <div class="campaign-preview__candidates-list__empty-item__text-container">
          <div mat-line>Sorry there is no candidates to vote.</div>
          <div mat-line>You can <strong>Add Candidate</strong> if you want.</div>
        </div>
      </mat-list-item>
    </ng-container>
  </mat-list>

  <div class="campaign-preview__footer">
    <button mat-raised-button
            [routerLink]="['/campaign/list']">
      Back to list
    </button>
  </div>
</div>


