@import '~@angular/material/theming';

.campaign-list-item {
  &__alert {
    text-align: center;

    &--active {
      background-color: mat-color($mat-green, 400);
    }

    &--inactive {
      background-color: mat-color($mat-red, 400);
    }
  }
}
