<mat-card class="campaign-list-item" *ngIf="campaign">
  <div class="campaign-list-item__alert">
    <div *ngIf="campaign.isActive" class="campaign-list-item__alert--active">Active</div>
    <div *ngIf="!campaign.isActive" class="campaign-list-item__alert--inactive">InActive</div>
  </div>
  <mat-card-header class="campaign-list-item__header">
    <mat-card-title class="campaign-list-item__header__title">{{campaign.name$ | async}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/campaign-logo.png" alt="Campaign Logo"/>
  <mat-card-actions align="end">
    <button mat-button mat-flat-button color="primary" [routerLink]="['/campaign', campaign.address]">Preview</button>
  </mat-card-actions>
</mat-card>
