<mat-card>
  <mat-card-header>
    <mat-card-title>Connect app with your Ethereum wallet account.</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="metamask-card">
      <div class="metamask-card__item">
        <img src="/assets/metamask.png" alt="MetaMask"/>
      </div>
      <div class="metamask-card__item">
        <button class="metamask-card__item__button" mat-raised-button color="primary" (click)="onConnectClicked()">
          <mat-icon>badge</mat-icon>
          Connect
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
