.campaign-list {
  padding-top: 2em;

  &__header {
    display: flex;
    flex-direction: row;
    &__text {
      flex: 5;
      text-align: center;
      font-size: 3em;
    }

    &__create-campaign {
      flex: 1;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;

    &__item {
      flex-basis: 20em;
    }
  }
}
